@import url("https://fonts.googleapis.com/css2?family=Inter&family=Mulish:wght@600&display=swap");
:root {
font-size: 62.5%;
font-family: "Inter", sans-serif;
font-weight: 600;
}
.final{
    background-image: url(img/wow.jpg);
}
html {
    background-image: url(img/kinder.jpg);

    }
body{
    margin: 0;
}
.back{
padding: 0;
width: 100%;
color: black;
text-align: center;
}
h1{
    padding-top: 35px;
    margin: 0px;
    padding-bottom: 25px;
    font-size: 3rem;
    background-color: aliceblue;
    border-radius: 15px;
    margin-left: 35px;
    margin-right: 35px;
}
h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
h3{
    font-size: 1.5rem;
}
img{
    border-radius: 25px;
    width: 80%;
    height: 311px;
    max-width: 550px;
    margin-bottom: 25px;
}
.kavkaz{
    text-align: center;
}
.hachapuri{
    margin-top: 45px;
}
.tanuki{
    margin-top: 45px;   
}
.telega{
    margin-top: 115px;
   text-align: center; 
}
